---
import "swiper/css";
import { wpquery } from "../functions/wpress";
import AuthorIcon from "../components/icons/Author.astro";
import ClockIcon from "../components/icons/Clock.astro";
import FoodIcon from "../components/icons/Food.astro";

interface Post {
    title: string;
    uri: string;
    featuredImage: {
        node: {
            sourceUrl: string;
        };
    };
    recipiesData: {
        prepTime: number;
        servicingNumber: number;
    };
    author: {
        node: {
            name: string;
        };
    };
}

const data = await wpquery({
    query: `
    query FeaturedPosts($last: Int) {
        posts(last: $last) {
            nodes {
                title
                uri
                featuredImage {
                    node {
                        sourceUrl
                    }
                }
                recipiesData {
                    prepTime
                    servicingNumber
                }
                author {
                    node {
                        name
                    }
                }
            }
        }
    }
    `,
    variables: {
        last: 4,
    },
});

const { posts } = data;
---

<style>
    .swiper-slide-thumb-active::after {
        opacity: 0.4;
    }
    .swiper-slide-thumb-active {
        border-image: linear-gradient(
                rgba(255, 255, 255, 1),
                rgba(255, 65, 82, 1)
            )
            23 / 35px;
    }
    .swiper.thumbs {
        padding: 0 1rem;
    }
</style>

<section>
    <section class="swiper slider h-[580px] lg:h-[calc(50vh_+_112px)]">
        <main class="swiper-wrapper">
            {
                posts.nodes.map((post: Post) => {
                    return (
                        <article
                            style={`background-image: url('${post.featuredImage.node.sourceUrl}')`}
                            class="swiper-slide w-full h-[300px] bg-cover bg-center"
                        >
                            <section class="w-4/5 lg:w-2/5 2xl:w-[30vw] mx-auto h-full flex flex-col gap-y-6 items-center justify-center text-white *:z-10 before:z-[0] before:absolute before:-inset-0 before:bg-black/50">
                                <h2 class="text-5xl lg:text-6xl text-center font-semibold font-heading text-balance">
                                    {post.title}
                                </h2>
                                <ul class="flex flex-row flex-wrap gap-x-7 gap-y-3.5 justify-center mt-2 mb-4 *:font-medium *:flex *:flex-row *:gap-x-2">
                                    <li>
                                        <FoodIcon className="w-6 h-6 fill-brand-red" />
                                        {post.recipiesData.servicingNumber}{" "}
                                        servings
                                    </li>
                                    <li>
                                        <ClockIcon className="w-6 h-6 fill-brand-red" />
                                        {post.recipiesData.prepTime}
                                        Minutes
                                    </li>
                                    <li>
                                        <AuthorIcon className="w-6 h-6 fill-brand-red" />
                                        {post.author.node.name}
                                    </li>
                                </ul>
                                <a
                                    href={post.uri}
                                    class="bg-brand-red/90 hover:bg-brand-red transition-all text-white font-medium px-5 py-3 mb-8"
                                >
                                    Read recipie
                                </a>
                            </section>
                        </article>
                    );
                })
            }
        </main>
    </section>
    <section class="swiper thumbs max-w-screen-xl mx-auto -mt-14 lg:-mt-28">
        <main class="swiper-wrapper">
            {
                posts.nodes.map((post: Post) => {
                    return (
                        <article class="swiper-slide border-2 lg:border-[4px] lg:w-44 lg:h-44 after:absolute after:cursor-pointer after:-inset-0 after:bg-black/50 hover:after:opacity-0 after:transition-opacity">
                            <img
                                class="w-full h-32 md:h-40 lg:h-56 object-cover"
                                width="176"
                                height="176"
                                src={post.featuredImage.node.sourceUrl}
                                alt={post.title}
                            />
                        </article>
                    );
                })
            }
        </main>
    </section>
</section>

<script>
    import Swiper from "swiper";
    import { Navigation, Thumbs } from "swiper/modules";

    const slideThumbs = new Swiper(".thumbs", {
        modules: [Thumbs],
        slidesPerView: 4,
        watchSlidesProgress: true,
        breakpoints: {
            1280: {
                slidesPerView: 4,
                spaceBetween: 32,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 16,
            },
            320: {
                slidesPerView: 2,
                spaceBetween: 10,
            },
        },
    });

    const slide = new Swiper(".slider", {
        modules: [Navigation, Thumbs],
        cssMode: true,
        slidesPerView: 1,
        thumbs: {
            swiper: slideThumbs,
        },
    });
</script>
